*{box-sizing:border-box;}
html{scroll-behavior:smooth;}
.container{background-color: var(--Secondary); display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; width: 100%; margin: auto;
    
}

.bg1{

    background-image: url("images/a2V.jpg"), linear-gradient(rgba(100, 100,100,.5),rgba(0,0,0,.5)); 
    background-repeat: no-repeat;
    background-size: 100% 100%; width: 80%; margin-left: 10%;

}

:root{
    --primary:#ffcdd2    ;
    --PrimaryLight: #ffffff;
    --PrimaryDark:#cb9ca1; 
    --Secondary:#bcaaa4;
    --secondaryLight:##efdcd5;
    --secondaryDark:#8c7b75;

}
.h1title{background-color: var(--secondaryDark);color:var(--SecondDark);
text-align: center; font-size: 5em; font-family: cursive;
}
/*slide show*/
.slideshowC{max-width: 1000px;
    position: relative;
    margin: auto;

}
.dot {
    height: 15px;
    width: 15px;max-width: 1000px;
    position: relative;
    margin: auto;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .img {vertical-align: middle;}
  .mySlides {display: none;}
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  


/*Nav*/
.nav{
    padding-left: 5%;
    padding-right: 10%;
    display: inline-block;
    width: 0%;
    color: rgb(231, 196, 152);
    font-family:'Times New Roman', Times, serif Impact, ;
    text-align: left;
    font-size: 100%;
   

}
.nav:hover{color: var(--PrimaryDark);}

.body{
    background-color: var(--secondaryDark); font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-variant: var(--PrimaryDark);
}
.background1 img{
    width: 80%; margin-left: 10%; background-color: var(--PrimaryLight);
}
.background1{ width: 100%; margin: auto; 

}
.item{
    width: 18%;
    border:solid 1px;
    margin: 2%;
    
}

.imgCont{
    width: 100%;
    background-color: aliceblue;
    height: 54%;
}
.itemImg{
    width: 100%;
    margin-left: auto;
    
}
.infoItem{text-align: center; 
    height: 40%;
}
.p0{background-color: var(--PrimaryLight); font-family: 'Times New Roman', Times, serif;
    color: rgb(46, 42, 42);
    font-weight: 900; font-size: 1.0rem;
    padding-top: 2em;

}
.p1{ background-color: var(--PrimaryLight); font-family: 'Times New Roman', Times, serif;
    color: rgb(46, 42, 42);
    font-weight: 900; font-size: 1.0rem;
    padding-top: 1em;
    
}

.p3{
    color: rgb(233, 213, 213);
    margin-top: -1em;
}
.p4{
    font-size: 1.1em;
    margin-top: 1em;
    font-weight: 900;
    color: var(--PrimaryDark);
}
.p5{
    color: rgb(0, 0, 0);
    font-weight: 900;
    margin: 1em;

}

/*PART 2*/
.container2{background-color: var(--secondaryDark); display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; width: 100%; margin: auto;
}
.imgCont2{width: 100%;
    padding-top: 0em;
    height: 60%;
    background-color: aliceblue;
}
.infoItem2{
    width: 100%;
    margin-bottom: 3em;
    text-align: center;
    height: 24%;
}
.itemImg2{
    width: 100%;  
}

.p5{ background-color: var(--PrimaryLight); font-family: 'Times New Roman', Times, serif;
    color: rgb(11, 10, 10);
    font-weight: 900;
    padding: 1em;
}
.p6{
    color: rgba(138, 118, 118, 0.545);
    margin-top: -1em;
}
.p7{
    font-size: 1.1em;
    margin-top: 1em;
    font-weight: 900;
    color: var(--PrimaryDark);
    
}
.body3{
    background-image: url(Images/last1.jpg);text-align: right;
}

/*Navagation*/
.link{ width: 100%;
    background-color:var(--Secondary);
    color: whitesmoke;width: 100%;
    text-align: center;
    padding: 0.1em;
    font-size: 1.2em;
    text-decoration: none;
    transition: ease-in-out 0.2s;
    display: inline-block;
    font-weight: 900;
}
.link:hover{background-color:var(--primary);
color:rgb(50,50,50);
}
/*MODAL WINDOW*/

.modalWindow{
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: rgb(50,50,50, 0.6);
    display: none;
   
}
.modalContent{
    width: 40%;
    height: 60%;
    margin: auto auto;
    background-color: white;
}
.modalHead{
    width: 70%;
    font-size: 1.2em; font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: rgb(50, 50, 50);
    border-bottom: inset rgb(231, 196, 152) 2px;
    margin: 1em 3em;
    padding-top: 2em;
    float: left;
}
.modalHeadX{
    float: right;
    font-size: 1.3em;
    padding: 0.5em;
}
.modalHeadX:hover{
background-color: rgb(93, 93, 93);
transition:  ease-in-out.5s;
color: white;
}
.modalTop{
    display: flex;
}
.modalBody{
   display: flex;
}
.modalImg{
    width:50% ;
    
}
.madalInfo{ width: 100%;
margin-right:  100%; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;
}
.modalImg img{
    width: 100%;align-items: center;
    margin-left: 5%;
}
/*py*/
.contactus{position: static; text-align: left;
    margin: auto;padding: 1%; border-style: groove; font-size: 1.5em;color: bisque; width: 100%; background-image: url('images/last.jpg');
    
}

.co{text-align: center; color: rgb(231, 196, 152); border-style: groove; padding: 5em;}
.close{
     text-align: left; font-size: 1em;padding: 2em;
}
.images img{
    width: 25%; margin: 3%; padding-left: 2%;
}
/* social icons */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #9fa4af;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
