*{box-sizing:border-box;}
html{scroll-behavior: smooth;}
:root{
    --primary:#c1185b
    --primaryLight:#f95688
    --primaryDark:#8b0032
    --Secondary:#fbc02d
    --secondaryLight:#fff263
    --secondaryDark:#c29200

}
